/* Feel free to use @import. r.js will merge them, when building */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
a {
	color: black;
	text-decoration: none;
}


header { 
	margin: 0 auto;
	z-index: 1000;
	width: 100%;
	position: fixed;
	background-color: #d7552d;
	padding-bottom: 20px;
}

header img.logo { 
	width: 200px;
	height: auto;
	padding: 14px 0px 0px 27px;
	margin: 0;
}

header div.description { 
	margin: 0;	
}

header p.description, .title { 
	font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;	
	padding: 0px 27px;
	margin: 0;
}
div {
	display: block;
}
.title {
	float: right;
}
.calendar {
	width: 100%;
	height: 75%;
	margin-top: 90px;
	position: absolute;
}
.clndr-grid {
   width: 65%;
   float: left;
   background-color: #EEEEEE;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 {
  max-width: 850px;
  margin: 100px auto;
  font-family: 'Droid Sans Mono';
  font-size: 14px;
}
.clndr-controls {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.clndr-grid .days-of-the-week {
    width: 100%;
    border-bottom: 2px solid white;
}
 .clndr-grid .days-of-the-week .header-day {
    float: left;
    width: 14.2857%;
    padding: 18px;
    text-align: center;
}
.days {
   margin-top: -10px;
}
.day {
	padding: 2em 2em 2em 2em;
}
 .clndr-grid .days .day {
   float: left;
   text-align: center;
   width: 14.2857%;
   height: 75px;
   display: inline-block;
   border-right: 2px solid rgb(255, 255, 255);
   border-bottom: 2px solid rgb(255, 255, 255);
 }
.day.past{
   opacity: 0.4;
}
.day.today {
 	background-color: white;
}
.day.event {
 	border-bottom: 3px solid rgb(25, 164, 71) !important;
}
.day.event:hover {
	
}
.month {
	float: center;
	padding-bottom: 15px;
}
.left-align {
	float: left;
	text-align: left;
}
.right-align {
	float: right;
	text-align: right;
}
.cal1 .clndr .clndr-controls .month {
  text-align: center;
  padding: 15px;
}

.clndr-next-button, .clndr-previous-button {
	padding: 5px;
	width: 50px;
}
.event-listing {
	float: left;
	width: 35%;
	height: 420px;
	overflow: scroll;
	padding-left: 10px;
}
.event-listing-title {
	text-align: center;
	margin-bottom: 10px;
}
.event-item {
	padding: 5px;
	border-bottom: 1px solid black;
}
.event-item.isPasttrue.currentMonthtrue  {
	display: none;
}
.sort-options {
	text-align: center;
	padding: 5px;
}
.active {
	border-bottom: 3px solid rgb(25, 164, 71);
}
.event-item-name {
	padding: 5px;
	font-size: 16px;
}
.event-item-description {
	padding: 5px;
}
.bottom {
	font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;	
	position: absolute;
	width: 100%;
	height: 30px;
	padding: 5px;
	text-align: center;
}
@media only screen and (max-device-width: 480px) {
	.clndr-controls, .clndr-grid {
		display: none;
	}
	.event-listing {
		width: 100%;
		height: 80%;
	}
	.event-listing-title {
		padding-top: 10px;
	}
	.bottom {
		height: 20%;
	}

}
